.Main-Container {
    z-index: 5;
    height: fit-content;
    width: fit-content;
    background-color: rgb(157, 175, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Card-Container {
    border-radius: 15px;
    /* width: 20%; */
    border: 2px solid rgb(175, 175, 175);
    height: 400px;
    overflow: hidden;
    background-color: rgb(8, 121, 96);
    margin: 10px;
    /* padding: 5px; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Card-Image-Container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    height: 50%;
    width: 100%;
}

.Card-Image-Container img {
    height: 100%;
    margin: auto;
    width: 100%;
}

.Product-Details {
    height: 50%;
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
}

@media screen and (max-width: 780px) {



    .Main-Container {
        grid-template-columns: 1fr;
    }

    .Card-Container {
        z-index: 1;
    }


}